*{
    margin: 0;
    padding: 0;
}
body{
    /* background: linear-gradient(135deg, #1e1f26, #2e2f36); */
    background-color: rgb(54, 56, 80);
    /* background-image: linear-gradient(360deg, #020024 0%, #7b7b8f 35%, #030607 100%); */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.Container{
    /* margin: 50px; */
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(29, 24, 21);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    width: 50%;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    
}
#username{
    padding:7px;
    width: 80%;
        border-radius: 5px;

}
#search{
    padding: 6px;
    border-radius: 5px;
}
/* .stats-container{
    display: none;
} */
.progress{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.circle{
    border: 3px solid green;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(20, 37, 20); */
    background: conic-gradient(green var(--progress-degree,0%), rgb(20, 37, 20) 0%);
}
.circle span{
    position: relative;
    z-index: 2;
}
.cards{
        /* background-color: rgb(164, 130, 195); */
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 10px;
}
.card{
    margin-top: 30px;
    width: 200px;
    background-color: rgb(248, 163, 45);
    border-radius: 6px;
    padding: 10px;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}